.chatscreen
  .chatscreen__header
    .chatscreen__header--group-name
      = @group.name
    .chatscreen__header--member
      Member:
      - @group.users.each do |user|
        = "#{user.name}｜"
    .chatscreen__header--edit
      = link_to "edit", edit_group_path(@group) 
  .chatscreen__main
    .chatscreen__main__message-lists
      = render @messages
      -#= render partial: 'message', collection: @messages  

  .chatscreen__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chatscreen__footer__form--input', placeholder: 'type a message'  
      .chatscreen__footer__form--picture
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chatscreen__footer__form--send'




-# %form.chatscreen__footer__form